*{
    font-family: 'poppins'sans-serif;
    color: rgb(85, 81, 81);

}
body{
    overflow-x: hidden;
}

.material-symbols-outlined {
    font-size: xx-large;
    margin-top: 5px;
    gap: 5px;
}
.part1,.part2,.search{
    display: flex;
}
.part2{
    gap: 15px;
}

.nav{
    display: flex;
    gap:300px;
    margin-left: 15px;
    width: 100%;
    padding:8px;
}
#search{
padding-right: 270px;
padding-top: 10px;
padding-bottom: 10px;
border: 0px;
outline: none;

}
#srd{
    border-radius: 20px;
    border: 2px solid gray;
    padding-right: 15px;

}

.mic{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}
.othericons{
    display: flex;
    gap: 18px;
    justify-content: center;
align-items: center;
display: flex;
}
.nav{
    position: fixed;
    top: 0;
    background-color: white;

}
#create{
font-weight: 500;
font-size: medium;
border-radius: 5px;
border: 1px solid gray;
justify-content: center;
align-items: center;
display: flex;
padding-top: 5px;
padding-bottom: 5px;
}
.bell{
    font-size: x-large;
}
#user{
    border-radius: 50%;
   
}
#likedvideos{
    background-color: rgb(210, 207, 207);
}
a{
    text-decoration: none;
}
.content{
    display: flex;
    margin-top: 50px;
}
li{
    list-style: none;
}
ul{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#you{
    font-weight: bold;
}
.col_1{
    width: 13%;
    margin-left: 15px;
    overflow-y: scroll;
    height:fit-content;


}
#create:hover,.bell:hover,#mag:hover,#mic:hover{
    background-color: rgb(238, 233, 233);;
}
.col_1>li>ul:hover{
    background-color: rgb(238, 233, 233);
}
#more{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
ul{
    padding: 5px;
    justify-content: center;

}
#navabc,.abc{
    display: flex;
    overflow-x: scroll;

}
.col_2{
    width: 85%;
}
button{
    width: fit-content;
border: 1px solid black;    
}

.txt{
    color: black;
    font-weight: 300;
    text-align: center;
}
#navabc>ul>button{
    width: 120px;
    padding: 2px;
}
#navabc>ul>button:hover{
    background-color: rgb(238, 233, 233);
}
#navabc>ul{
    background-color: white;
 
}
.col_1{
    overflow-y: scroll;
    height: 700px;
    

}
.col_2{
    overflow-y: scroll;
    height: 670px;
}
body{
    overflow-y:hidden;
}
.main11{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.col_2{
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    width: 50%;
}
.aa3{
    font-size: larger;
    font-weight: 500;
    font-size: large;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.watch{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight:bold;
    font-size: xx-large;
    color: black;

}
.today{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight:bold;
    font-size: x-large;
    color: black; margin-bottom: 5px;

}
kj{
    font-size: smaller;
    color: gray;
    margin-top: 5px;
}
.ic{
    font-size: large;
    color: black;
    gap: 10px;
}
#aaaaaaa:hover{
    background-color: rgb(209, 201, 201);
    border-radius: 50%;
}
#uu{
    border: 0px;
}

.r{
    font-size: x-large;

}
.s,.sa,.sb,.sc{
    outline: none;
    color: black;
    font-weight: 500;
}
#uu{
    outline: none;

}
.col_3{
    margin-top: 200px;
    width: 25%;
    margin-left: 80px;
}
.d{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.addd{
  
    margin-left: 10px;
}
.sb{
    margin-left: 10px;
}
.all>button,.video>button,.short>button{
    border-radius: 5px;
    padding: 3px 5px 3px 5px;

}
.qwe{
    display: flex;
    gap: 15px;
    margin-top: 10px;
   
}
.all>button{
    color: white;
    background-color: black;
}
.col_jpt{
    background-color: rgb(109, 109, 196);
    height: 600px;
    width: 300px;
    border-radius: 15px;
    margin-top: 20px;
}
.hid{
    display: flex;
    color: black;
    background-color: rgb(226, 220, 220);
    padding: 20px;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#ij{
    justify-content: center;
    margin-left: 20px;
    margin-top: 10px;
}.ll{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: x-large;
    margin-left: 20px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sh{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: medium;
    margin-left: 20px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.sd{
    color: rgb(195, 195, 195);
    font-size: smaller;
    margin-left: 20px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}




