*{
    font-family: 'poppins'sans-serif;
    color: rgb(85, 81, 81);

}
body{
    overflow-x: hidden;
}

.material-symbols-outlined {
    font-size: xx-large;
    margin-top: 5px;
    gap: 5px;
}
.part1,.part2,.search{
    display: flex;
}
.part2{
    gap: 15px;
}
.nav{
    display: flex;
    gap:300px;
    margin-left: 15px;
    width: 100%;
    padding:8px;
}
#search{
padding-right: 270px;
padding-top: 10px;
padding-bottom: 10px;
border: 0px;
outline: none;
}
#srd{
    border-radius: 20px;
    border: 2px solid gray;
    padding-right: 15px;
}
.mic{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}
.othericons{
    display: flex;
    gap: 18px;
    justify-content: center;
   align-items: center;
   display: flex;
}
.nav{
    position: fixed;
    top: 0;
    background-color: white;
}
#create{
font-weight: 500;
font-size: medium;
border-radius: 5px;
border: 1px solid gray;
justify-content: center;
align-items: center;
display: flex;
padding-top: 5px;
padding-bottom: 5px;
}
.bell{
    font-size: x-large;
}
#user{
    border-radius: 50%;
}

a{
    text-decoration: none;
}
.content{
    display: flex;
    margin-top: 50px;
}
li{
    list-style: none;
}
ul{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align:initial;
}
#you{
    font-weight: bold;
}
.col_1{
    width: 13%;
    margin-left: 15px;
    overflow-y: scroll;
    height:fit-content;
}
#create:hover,.bell:hover,#mag:hover,#mic:hover{
    background-color: rgb(238, 233, 233);;
}
.col_1>li>ul:hover{
    background-color: rgb(238, 233, 233);
}
#more{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
ul{
    padding: 5px;
    justify-content: center;
}
#navabc,.abc{
    display: flex;
    overflow-x: scroll;

}
.col_2{
    width: 85%;
}
button{
    width: fit-content;
border: 1px solid black;    
}

.txt{
    color: black;
    font-weight: 300;
    text-align: center;
}
#navabc>ul>button{
    width: 120px;
    padding: 2px;
}
#navabc>ul>button:hover{
    background-color: rgb(238, 233, 233);
}
#navabc>ul{
    background-color: white;
}
/* change gari rakhna parni */

#download{
    background-color: rgb(238, 233, 233);
}

div{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.manage>a{
    color: blue;
}
.late{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 10px;
}
.x{
    display: flex;
    gap: 15px;
}
.latest{
    font-weight: bold;
    font-size:larger;
    margin-left:40px;
   
}
.txt{
    font-weight: bold;
    text-align:initial;
}
.col_1{
    overflow-y: scroll;
    height: 800px;
}
.col_2>.main-content{
    overflow-y: scroll;
    height: 1400px;
}
body{
    overflow-y:hidden;
}
.col_2{
margin-top: 25px;
margin-left: 110px;
}
.bff{
    display: flex;
}
.qe{
    font-weight: bold;
    font-size: x-large;
    color: black;
}
.qr{
    color:blue
}
.oo{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.wow{
font-size: small;

}
.bff{
    gap: 30px;
    margin-left: 10px;

}
iframe{
    border-radius: 5px;
}
.q{
    display: flex;
    justify-content: space-between;
}
.qw{ color: black;
display: flex;
gap: 6px;
margin-bottom: 5px;}
.qqq{
    margin-left: 10px;
}









